### Groups of Directories ###
applications/*/errors/
applications/*/static/sessions/
applications/*/static/.sass-cache/

### Directories at any level ###
**/.xcf/

### Specific Directories ###
.DS_Store/
.idea/
examples/
extras/
logs/
site-packages/

### Groups of files ###
*.DS_Store
*.pyc
*.pyd
*.pyo
*.w2p
parameters_*.py

### Files in any directory ###
Thumbs.db

### Specific files ###
CHANGELOG
httpserver.log
httpserver.pid
