{{extend 'layout.html'}}

<section>
  
  <img src="{{=URL('static', 'images/SelfPortrait@1x.jpg')}}"
       srcset="{{=URL('static', 'images/SelfPortrait@1x.jpg')}} 1x,
               {{=URL('static', 'images/SelfPortrait@2x.jpg')}} 2x"
       class="self-portrait float-right" width="250px" height="250px"
       alt="A photo of Daniel from the shoulders up, standing in front of a fence." />
  
  <p>
    I'm Daniel Hildebrandt: developer, gamer, and <i>Skyrim</i> modder. Here you'll find a thorough accounting of my professional skills and personal projects &ndash; more than would fit on just a one-page rèsumè.
  </p>
  <p>
    I'm an alumnus of the University of California at Santa Cruz, having majored in <i>Computer Science: Game Design</i>. This has provided me a formal education in the common tools for making games specifically and software generally. Should you wish to get in contact with me, visit the <a href="{{=URL('contact')}}">contact page</a>, which also includes my social media links.
  </p>
  
</section>
