{{extend 'layout.html'}}

<section>
  
  <img src="{{=URL('static', 'images/SelfPortrait@1x.png')}}"
       srcset="{{=URL('static', 'images/SelfPortrait@1x.png')}} 1x,
               {{=URL('static', 'images/SelfPortrait@2x.png')}} 2x"
       class="self-portrait float-right" width="250px" height="250px"
       alt="A photo of Daniel from the shoulders up, standing in front of a fence." />
  
  <p>
    My name is Daniel, and this is my website. There are many like it, but this one is mine: my organic, cage-free, home-grown, and 100% compostable personal website. This is my brag sheet, and includes my professional skills, past projects, and other work I wish to release to the public web.
  </p>
  <p>
    I'm an alumnus of the University of California at Santa Cruz, with a bachelor's in game design. Though memories are hazy, my first game was either Pokémon Red, or an obscure Batman game with unforgiving hitboxes. My interest spread from here: not merely playing games, but building upon the worlds in which they're set, making my own mods, and creating my own games outright.
  </p>
  <p>
    Side interests include being a salad-hating vegetarian and social activist. I also like to look at cute pictures of cats, dogs, highland cattle, and other fuzzy animals.
  </p>
  
</section>
