{{extend 'layout.html'}}

{{block title}}
  {{title_prefix = 'Rosetta Run'}}
{{end}}

{{block head_js}}
  <script src="{{=URL('static', 'rosetta-run/src/phaser.js')}}"      type="text/javascript"></script>
  <script src="{{=URL('static', 'rosetta-run/src/global.js')}}"      type="text/javascript"></script>
  <script src="{{=URL('static', 'rosetta-run/src/bgstar.js')}}"      type="text/javascript"></script>
  <script src="{{=URL('static', 'rosetta-run/src/player.js')}}"      type="text/javascript"></script>
  <script src="{{=URL('static', 'rosetta-run/src/enemy.js')}}"       type="text/javascript"></script>
  <script src="{{=URL('static', 'rosetta-run/src/sample.js')}}"      type="text/javascript"></script>
  <script src="{{=URL('static', 'rosetta-run/src/invincistar.js')}}" type="text/javascript"></script>
  <script src="{{=URL('static', 'rosetta-run/src/gamestate.js')}}"   type="text/javascript"></script>
  <script src="{{=URL('static', 'rosetta-run/src/game.js')}}"        type="text/javascript"></script>
{{end}}

<div class="rosetta-run-frame" id="game-frame">
  <!-- Game goes here -->
</div>

<p>
   An endless runner game played directly from the browser, designed with the Phaser Javascript game engine. Inspired by the European Space Agency's 2014 Rosetta mission, the player avoids various space-themed obstacles and gathers "data samples" for score. Alongside a team of three others, I implemented movement, animation, and obstacle spawning mechanics. Our graphical assets were each hand-drawn on paper, then scanned and digitally traced.
</p>
<p>
  You can play Rosetta Run right here in your browser. Note that the game is a fixed 400&times;600 pixels, and relies on the player having a traditional keyboard and mouse. Accordingly, it (and this page) may not cooperate with tablets of phones.
</p>
<p>
  <a href="{{=URL('projects')}}">Back to projects...</a>
</p>
