{{extend 'layout.html'}}

{{block title}}
  {{title_prefix = 'Skills'}}
{{end}}

<section id="education">
  <h1>
    Education
  </h1>
  <div class="university-info">
    <div class="university-info-name">University of California, Santa Cruz</div>
    <div class="university-info-major">BS Computer Science: Game Design</div>
    <div class="university-info-timeframe">Fall 2013 - Summer 2017</div>
    <div class="university-info-college">Crown College</div>
  </div>
  <ul class="skills-page-list">
    <li class="classes-list-item">
      Game Design Studio I - III
    </li>
    <li class="classes-list-item">
      Advanced Programming
    </li>
    <li class="classes-list-item">
      Abstract Data Types
    </li>
    <li class="classes-list-item">
      Game Design Experience
    </li>
    <li class="classes-list-item">
      Foundations of Game Design
    </li>
    <li class="classes-list-item">
      Intro to Software Engineering
    </li>
    <li class="classes-list-item">
      Mobile Applications
    </li>
    <li class="classes-list-item">
      Intro to Networking and the Internet
    </li>
  </ul>
</section>

<section id="languages">
  <h1>
    Languages
  </h1>
  <ul class="skills-page-list">
    <li class="languages-list-item">
      C++
      
      <ul class="skills-page-sublist">
        <li class="skills-page-sublist-item">
          C++ is my mother tongue, to which I've now returned in mastery. My capstone game at UCSC, <i>Children of &#x00C0;&#x1E63;&#x1EB9;</i>, was wrought from C++11 in Visual Studio. I write clean, efficient, and well-organized C++ code.
        </li>
      </ul>
    </li>
    <li class="languages-list-item">
      Java
      
      <ul class="skills-page-sublist">
        <li class="skills-page-sublist-item">
          It was in Java that I first learned many of the foundational concepts of programming. I remain skilled with the language, second only to my knowledge of C++.
        </li>
      </ul>
    </li>
    <li class="languages-list-item">
      HTML5 & CSS3 + Sass
      
      <ul class="skills-page-sublist">
        <li class="skills-page-sublist-item">
          I never quite got a formal education in web design, but instead wound up teaching myself HTML and CSS one summer. I find a particular interest in colorblind-friendly design and similar accessibility concerns. This website is itself proof of what I've learned.
        </li>
      </ul>
    </li>
    <li class="languages-list-item">
      C
      
      <ul class="skills-page-sublist">
        <li class="skills-page-sublist-item">
          I generally defer to C++ for most jobs, but I can also handle myself in old-fashioned ANSI C. Working with explicit pointers has also deepened my understand of, and appreciation for, higher-level languages that handle them out of view.
        </li>
      </ul>
    </li>
    <li class="languages-list-item">
      Javascript
      
      <ul class="skills-page-sublist">
        <li class="skills-page-sublist-item">
          While not entirely up to scratch relative to my HTML and CSS, I know my way around Javascript. I've messed around a bit with jQuery on the web, worked with Vue.js, and wrote much of the code for the browser-based <i>Rosetta Run</i> during my time at UCSC.
        </li>
      </ul>
    </li>
    <li class="languages-list-item">
      Python
      
      <ul class="skills-page-sublist">
        <li class="skills-page-sublist-item">
          I've done some general algorithms work in Python, as well as with Web2py: this website is actually a Web2py application.
        </li>
      </ul>
    </li>
    <li class="languages-list-item">
      Ruby
      
      <ul class="skills-page-sublist">
        <li class="skills-page-sublist-item">
          Ruby is the latest addition to my linguistic toolset, picked up while working on the parser for OpenGov. I tend to prefer lower-level languages, but Ruby has been particularly interesting to use.
        </li>
      </ul>
    </li>
  </ul>
</section>

<section id="software-and-tools">
  <h1>
    Software and Tools
  </h1>
  <ul class="skills-page-list">
    <li class="tools-list-item">
      Visual Studio
      
      <ul class="skills-page-sublist">
        <li class="skills-page-sublist-item">
          I'm quite familiar with the Visual Studio environment, particularly its C++ tools: it was these that I used during the deveopment of <i>Children of &#x00C0;&#x1E63;&#x1EB9;</i>. I know my way around the inbuilt debugging tools and the Git integration &ndash; though I prefer Git Bash over the latter.
        </li>
      </ul>
    </li>
    <li class="tools-list-item">
      Eclipse IDE
      
      <ul class="skills-page-sublist">
        <li class="skills-page-sublist-item">
          Most of the Java I write is authored in the open-source Eclipse IDE. This includes building JUint test suites with Hamcrest matchers for more expressive test conditions. I've also worked with the C/C++ development tools.
        </li>
      </ul>
    </li>
    <li class="tools-list-item">
      GIMP
      
      <ul class="skills-page-sublist">
        <li class="skills-page-sublist-item">
          Though I downplay my artistic abilities, I'm skilled with the GNU Image Manipulation Program (an open-source alternative to Photoshop). As well as some humble meme work &ndash; restoring deeply artifacted JPEGs and optimizing GIFs &ndash; I read up on block compression and normal maps to make my "Daedra-tastic Rune Spells" texture mod for <i>Skyrim: Special Edition</i>.
        </li>
      </ul>
    </li>
    <li class="tools-list-item">
      Git
      
      <ul class="skills-page-sublist">
        <li class="skills-page-sublist-item">
          I am skilled in the ways of Git. Add and commit, push and pull, reverting changes to individual files, and merging branches. I've used the Github desktop app, as well as Visual Studio's Git integration, but end up preferring Git Bash for most tasks: GUIs are for the weak.
        </li>
      </ul>
    </li>
    <li class="tools-list-item">
      Unix Terminal
      
      <ul class="skills-page-sublist">
        <li class="skills-page-sublist-item">
          I use Windows 10 on my personal computer for ease of gaming, but in my capacity as a programmer I'm distinctly Unix-heavy. I'm well familiar with the Unix terminal, and will often use Git Bash or the Ubuntu subsystem to run command-line tools and perform miscellanious tasks.
        </li>
      </ul>
    </li>
    <li class="tools-list-item">
      Unity
      
      <ul class="skills-page-sublist">
        <li class="skills-page-sublist-item">
          As well as surviving the masochistic ordeal of making a game engine from scratch, I've used the Unity engine to do both prototyping and earnest development. The latter saw me involved in UCSC's Game Design Art Collaboration.
        </li>
      </ul>
    </li>
    <li class="tools-list-item">
      Android Studio
      
      <ul class="skills-page-sublist">
        <li class="skills-page-sublist-item">
          My engineering conquests are not limited to the desktop environment: I also have some experience in creating Android apps. The combination of Java and XML comes readily to me, and I've made the odd tic-tac-toe app.
        </li>
      </ul>
    </li>
  </ul>
</section>
