$color-header: #F2F3FF;
$color-body: #F2F3FF;

$color-nav-normal: #BFDFFF;
$color-nav-hover: #80BFFF;
$color-nav-active: #409FFF;

$color-link-normal: #80BFFF;
$color-link-hover: #409FFF;
$color-link-active: #409FFF;

$color-selection-background: #E6E7FF;
$color-selection-text: #13141A;

$color-borders: #F2F3FF;
