@import "colors";

div.university-info
{
  padding: 0;
  width: 90%;
  
  margin:
  {
    top: 0;
    bottom: 0.5pc;
    left: 1pc;
    right: 1pc;
  }
  
  div.university-info-item
  {
    color: $color-body;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: 50%;
    
    font:
    {
      color: $color-body;
      family: "Roboto", sans-serif;
      size: 1.25pc;
      weight: 700;
    }
  }
  
  &>div.university-info-name
  {
    @extend div.university-info-item;
    text-align: left;
    
    @media only screen and (max-width: 960px)
    {
      text-align: left;
      width: 100%;
    }
  }
  
  &>div.university-info-major
  {
    @extend div.university-info-item;
    text-align: right;
    
    @media only screen and (max-width: 960px)
    {
      text-align: left;
      width: 100%;
    }
  }
  
  &>div.university-info-timeframe
  {
    @extend div.university-info-item;
    text-align: left;
    
    @media only screen and (max-width: 960px)
    {
      text-align: left;
      width: 100%;
    }
  }
  
  &>div.university-info-college
  {
    @extend div.university-info-item;
    text-align: right;
    
    @media only screen and (max-width: 960px)
    {
      text-align: left;
      width: 100%;
    }
  }
}

ul.skills-page-list
{
  padding: 0;
  
  margin:
  {
    top: 0;
    bottom: 2pc;
    left: 0;
    right: 0;
  }
  
  &>li.skills-page-list-item
  {
    color: $color-body;
    display: inline-block;
    list-style: none;
    margin: 0;
    text-align: left;
    vertical-align: top;
    width: 100%;
    
    font:
    {
      family: "Roboto", sans-serif;
      size: 1.25pc;
      weight: 500;
    }
    
    padding:
    {
      top: 0.5pc;
      bottom: 0.5pc;
      left: 1pc;
      right: 1pc;
    }
  }
  
  &>li.classes-list-item
  {
    @extend li.skills-page-list-item;
    width: calc(100% / 3);
    
    @media only screen and (max-width: 1280px)
    {
      width: 50%;
    }
    
    @media only screen and (max-width: 800px)
    {
      width: 100%;
    }
  }
  
  &>li.languages-list-item
  {
    @extend li.skills-page-list-item;
    width: 25%;
    
    @media only screen and (max-width: 1280px)
    {
      width: calc(100% / 3);
    }
    
    @media only screen and (max-width: 960px)
    {
      width: 50%;
    }
    
    @media only screen and (max-width: 600px)
    {
      width: 100%;
    }
  }
  
  &>li.tools-list-item
  {
    @extend li.skills-page-list-item;
    width: 25%;
    
    @media only screen and (max-width: 1280px)
    {
      width: calc(100% / 3);
    }
    
    @media only screen and (max-width: 960px)
    {
      width: 50%;
    }
    
    @media only screen and (max-width: 600px)
    {
      width: 100%;
    }
  }
  
  ul.skills-page-sublist
  {
    margin: 0;
    padding: 0;
    
    &>li.skills-page-sublist-item
    {
      color: $color-body;
      display: block;
      list-style: none;
      margin: 0;
      text-align: left;
      vertical-align: top;
      
      font:
      {
        family: "Roboto", sans-serif;
        size: 1pc;
        weight: 300;
      }
      
      padding:
      {
        top: 0;
        bottom: 0;
        left: 0.5pc;
        right: 0.5pc;
      }
    }
  }
}
