@import "colors";
@import "mixins";

@import "html5";
@import "typographic";

@import "skills-page";
@import "projects-page";
@import "contact-page";

@import "children-of-ase";
@import "rosetta-run";

body
{
  border: 0;
  font-size: 0;
  padding: 0;
  margin: 0;
  
  background:
  {
    attachment: fixed;
    color: #000000;
    image: url("../images/backgrounds/BackgroundMain_Landscape_2560@1x.jpg");
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  
  @media only screen and (max-width: 1920px)
  { background-image: url("../images/backgrounds/BackgroundMain_Landscape_1920@1x.jpg"); }
  
  @media only screen and (max-width: 1600px)
  { background-image: url("../images/backgrounds/BackgroundMain_Landscape_1600@1x.jpg"); }
  
  @media only screen and (max-width: 1440px)
  { background-image: url("../images/backgrounds/BackgroundMain_Landscape_1440@1x.jpg"); }
  
  @media only screen and (max-width: 1280px)
  { background-image: url("../images/backgrounds/BackgroundMain_Landscape_1280@1x.jpg"); }
  
  @media only screen and (   min--moz-device-pixel-ratio: 2),
         only screen and (     -o-min-device-pixel-ratio: 2),
         only screen and (-webkit-min-device-pixel-ratio: 2),
         only screen and (        min-device-pixel-ratio: 2)
  {
    background-image: url("../images/backgrounds/BackgroundMain_Landscape_2560@2x.jpg");
    
    @media only screen and (max-width: 1920px)
    { background-image: url("../images/backgrounds/BackgroundMain_Landscape_1920@2x.jpg"); }
    
    @media only screen and (max-width: 1600px)
    { background-image: url("../images/backgrounds/BackgroundMain_Landscape_1600@2x.jpg"); }
    
    @media only screen and (max-width: 1440px)
    { background-image: url("../images/backgrounds/BackgroundMain_Landscape_1440@2x.jpg"); }
    
    @media only screen and (max-width: 1280px)
    { background-image: url("../images/backgrounds/BackgroundMain_Landscape_1280@2x.jpg"); }
  }
  
  @media only screen and (orientation:portrait)
  {
    background-image: url("../images/backgrounds/BackgroundMain_Portrait_2560@1x.jpg");
    
    @media only screen and (max-height: 1920px)
    { background-image: url("../images/backgrounds/BackgroundMain_Portrait_1920@1x.jpg"); }
    
    @media only screen and (max-height: 1600px)
    { background-image: url("../images/backgrounds/BackgroundMain_Portrait_1600@1x.jpg"); }
    
    @media only screen and (max-height: 1440px)
    { background-image: url("../images/backgrounds/BackgroundMain_Portrait_1440@1x.jpg"); }
    
    @media only screen and (max-height: 1280px)
    { background-image: url("../images/backgrounds/BackgroundMain_Portrait_1280@1x.jpg"); }
    
    @media only screen and (   min--moz-device-pixel-ratio: 2),
           only screen and (     -o-min-device-pixel-ratio: 2),
           only screen and (-webkit-min-device-pixel-ratio: 2),
           only screen and (        min-device-pixel-ratio: 2)
    {
      background-image: url("../images/backgrounds/BackgroundMain_Portrait_2560@2x.jpg");
      
      @media only screen and (max-height: 1920px)
      { background-image: url("../images/backgrounds/BackgroundMain_Portrait_1920@2x.jpg"); }
      
      @media only screen and (max-height: 1600px)
      { background-image: url("../images/backgrounds/BackgroundMain_Portrait_1600@2x.jpg"); }
      
      @media only screen and (max-height: 1440px)
      { background-image: url("../images/backgrounds/BackgroundMain_Portrait_1440@2x.jpg"); }
      
      @media only screen and (max-height: 1280px)
      { background-image: url("../images/backgrounds/BackgroundMain_Portrait_1280@2x.jpg"); }
    }
  }
}

div.center-scroll
{
  box-sizing: border-box;
  min-height: calc(100vh);
  padding: 0;
  
  @include width-bounds(0, 1600px, calc(100% * 2 / 3));
  
  background: rgba(0, 0, 0, 0.75);
  @include background-linear-gradient(to right,
    rgba(0, 0, 0, 0.00)   0.0%,
    rgba(0, 0, 0, 0.75)   0.5%,
    rgba(0, 0, 0, 0.75)  99.5%,
    rgba(0, 0, 0, 0.00) 100.0%);
  
  margin:
  {
    top: 0;
    bottom: 0;
    left: calc(100% / 6);
    right: calc(100% / 6);
  }
  
  @media only screen and (max-width: 1440px)
  {
    background: rgba(0, 0, 0, 0.75);
    margin: 0;
    width: 100%;
  }
}

main
{
  margin: 0;
  
  padding:
  {
    top: 1%;
    bottom: 5pc;
    left: 2.5%;
    right: 2.5%;
  }
}

nav
{
  margin: 0;
  
  padding:
  {
    top: 1vh;
    bottom: 0;
    left: 1%;
    right: 1%;
  }
  
  &>ul.nav-list
  {
    padding: 0;
    margin: 0;
    
    &>li.nav-item
    {
      display: inline-block;
      height: 3pc;
      list-style: none;
      padding: 0;
      margin: 0;
      
      &>a.nav-link,
      &>a.nav-link:link,
      &>a.nav-link:visited
      {
        color: $color-nav-normal;
        cursor: pointer;
        letter-spacing: 0.2pc;
        outline: 0;
        margin: 0;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        
        @include user-select(none);
        
        border:
        {
          top: 1px solid transparent;
          bottom: 1px solid transparent;
          left: 3px solid transparent;
          right: 3px solid transparent;
        }
        
        font:
        {
          family: "Cormorant SC", serif;
          size: 2pc;
          weight: 700;
        }
        
        padding:
        {
          top: 0;
          bottom: 0;
          left: 1pc;
          right: 1pc;
        }
      }
      
      &>a.nav-link:focus,
      &>a.nav-link:hover
      {
        background: #000000;
        color: $color-nav-hover;
        
        border:
        {
          top: 1px solid $color-nav-hover;
          bottom: 1px solid $color-nav-hover;
          left: 3px double $color-nav-hover;
          right: 3px double $color-nav-hover;
          radius: 25% 15%;
        }
      }
      
      &>a.nav-link:active
      {
        background: #000000;
        color: $color-nav-active;
        
        border:
        {
          top: 1px solid $color-nav-active;
          bottom: 1px solid $color-nav-active;
          left: 3px double $color-nav-hover;
          right: 3px double $color-nav-hover;
          radius: 25% 15%;
        }
      }
      
      @media only screen and (max-width: 800px)
      {
        box-sizing: border-box;
        text-align: center;
        width: 50%;
      }
      
      @media only screen and (max-width: 480px)
      {
        box-sizing: border-box;
        text-align: left;
        width: 100%;
      }
    }
  }
}

html.js .hidden-if-js
{
  display:none;
}

html.no-js .hidden-if-no-js
{
  display:none;
}

span.aria-pronunciation-aid
{
  left: -1024px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: -1024px;
  width: 1px;
  
  @include user-select(none);
}
